@font-face{
    font-family: 'Lato';
    src: url(assets/Lato-LightItalic.ttf);
}
@font-face{
    font-family: 'Lato2';
    src: url(assets/Lato-Light.ttf);
}
section {
    position: fixed;
}
a{
    cursor: pointer;
}
body {
    margin: 0;
    height: 100%;
}
#backgroundimage img{
    height: 100vh;
    width: 100%;
    position: fixed;
}
nav{
    position: fixed;
    width: 100%;
}
nav a{
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
    font-family: 'Lato';
    margin: 15px;
    transition: all .5s;
}

nav a:nth-child(2){
    margin-left: 30vw;
}
nav a:nth-child(1) img {
    width: 2.5%;
    padding-top: 8px;
}

nav a:nth-child(1) img:hover{
    color: black;
    animation: rotation .5s 1;
}
nav a:hover{
    color: orange;
}

.right{
    float: right;
}
header {
    position: fixed;
    top: 20vh;
    right: 10vw;
}
header h1{
    position : relative;
    color: white;
    font-size: 3.5rem;
    font-family: 'Lato';
}
header p{
    position: relative;
    font-family: 'Lato';
    font-size: 1.5rem;
    color: white;
    transition: all .5s;
    color: orange;
}

#code{
    position: absolute;
    color: white;
    top: 100px;
}
#code code{
    font-size: 1rem;
    line-height: 2.5;
}
.darkorange{
    color: rgb(233, 123, 20);
}
.orange{
    color: rgb(238, 202, 41);
}
.blue{
    color: rgb(125, 125, 238);
}
.skyblue {
    color: skyblue;
}
.purple{
    color: rgb(233, 132, 233);
}
#pagequery{
    position: fixed;
    top: 50px;
    right: 20px;
    color: white;
    height: 50%;
}
#pagebar{
    position: absolute;
    width: 5px;
    background-color: white;
    border-radius: 5px;
    right: 0;
}
#pagequery h4{
    position: relative;
    right: 25px;
    font-family: 'Lato';
}
#pagequery h4{
    margin-top: 70px;
}
#home h5{
    position: fixed;
    color: orange;
    font-family: 'Lato';
    bottom: 0;
    right: 15px ;
}
@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(720deg);
    }
}
#about {
    height: 80%;
    width: 80%;
    margin-top: 100px;
}
#aboutimage {
    position: fixed;
    top: 80px;
    left: 55%;
    height: 80%;
    width: 500px;
    perspective: 1000px;
}
#aboutimage img{
    position: relative;
    height: 50%;
    width: 100%;
    border-radius: 10px;
    box-shadow: -20px 10px 10px -10px #000; 
    outline-color: rgba(255, 249, 249,0.7);
    outline-style: solid;
    outline-width: 1.2px;
    outline-offset: -7px;
    -moz-outline-radius: 10px;
}
#aboutimage img:first-child{
    transform: rotate(-8deg) translateZ(-100px);
}
#aboutimage img:nth-child(2){
    transform: rotate(5deg) translateZ(50px);
}
#aboutcontent {
    color: orange;
    margin-top: 50px;
    line-height: 3.3;
    font-size: 1.1rem;
}
#aboutcontent pre{
    font-family: 'Lato2';
}
#left, #right{
    font-size: 2em;
    color: white;
}
#contest {
    position: fixed;
    top: 10%;
    width: 90%;
    height: 90%;
}
#wrapper {
    perspective: 2000px;
    position: relative;
    width: 95%;
    height: 80%;
    top: 10%;
    left: 5%;
}
#wrapper div {
    transition: all 0.4s;
    position: fixed;
    box-sizing: border-box;
}
#wrapper figure {
    top:  5%;
    -moz-box-shadow: 5px 15px 5px 0px #000;
    -webkit-box-shadow: 5px 15px 5px 0px #000;
    box-shadow: 5px 15px 5px 0px #000;
    color: rgb(85, 78, 65);
    font-family: Arial, Helvetica, sans-serif;
    padding: 30px;
    background-color: white;
    text-align: center;
    border-radius: 20px;
}
#wrapper figure img{
    min-width: 100%;
}
#wrapper figcaption{
    font-family: 'Lato2';
    font-size: 1.4rem;
    margin: 15px 0px 0px 0px;
}
.firstpic {
    position: fixed;
    transform: rotateY(-50deg) translate3d(-900px,0,-250px);
}
.secondpic {
    position: fixed;
    transform: rotateY(-40deg) translate3d(0px,0,-150px);
}
.thirdpic {
    position: fixed;
    transform: translate3d(600px,0,0px);
}
#contest #left, #contest #right{
    position: absolute;
    left: 2%;
    cursor: pointer;
}
#contest #left{
    top: 10%;
}
#article{
    top: 10%;
    height: 89%;
    width: 90%;
    overflow-y: scroll;
    /* border: 2px solid red; */
}
#article figure{
    padding: 10px;
    background-color: lightgoldenrodyellow;
    color: rgb(9, 15, 70);
    width: 25%;
    display: inline-block;
    margin: 10px 10px 5px 10px;
    cursor: pointer;
    border-radius: 10px;
    -moz-box-shadow: -5px 15px 10px -5px #000;
    -webkit-box-shadow: -5px 15px 10px -5px #000;
    box-shadow: -5px 15px 10px -5px #000;
}
#article figure figcaption{
    font-family: 'Lato2';
    font-size: 1.2rem;
    margin-top: 15px;
}
#article figure img{
    width: 100%;
    object-fit: contain;
}
::-webkit-scrollbar{
    width: 5px;
}
::-webkit-scrollbar-thumb{
    background: black;
    border-radius: 5%;
}
::-webkit-scrollbar-track{
    background: rgb(180, 179, 179);
}
#articlecontainer{
    position: fixed;
    top: 10%;
    height: 89%;
    width: 90%;
    z-index: 2;
    display: none;
    background-color: rgba(22, 21, 21, 0.9);
    transform: all .5s;
    border: 1px solid rgba(255,255,255,0.5);
    border-radius: 10px;
}
#articlecontainer #image{
    position: relative;
    text-align: right;
    top: 5%;
    width: 450px;
}
#articlecontainer #image img{
    border-radius: 10px;
    position: absolute;
    width: 100%;
    object-fit: contain;
    outline-color: rgba(255, 255, 255,0.5);
    outline-style: solid;
    outline-width: 1.2px;
    outline-offset: -7px;
    -moz-outline-radius: 5px;
}
#articlecontainer #content{
    position: relative;
    line-height: 2;
    font-family: 'Lato2';
    font-size: 1.2rem;
    color: white;
    top: 60%;
}
#articlecontainer #cross{
    color: orange;
    font-size: 2rem;
    position: absolute;
    top: 5%;
    right: 5%;
    cursor: pointer;
}